$lightblue: #2bc8ed;
$middleblue: #22b6e7;
$darkblue: #19a4e1;

$lightgreen: #63d1c4;
$middlegreen: #4fc1b0;
$darkgreen: #3bb19c;

$lightred: #f58f63;
$middlered: #f2724f;
$darkred: #ef553b;

//
// GENERAL STYLING
//
html, body {
  width:100%;
  height:auto;
  margin:0;
  padding:0;
}
body {
  font-family: 'open sans', arial, serif;
}




/* Custom, iPhone Retina */
 @media only screen and (min-width : 320px) {
   .overlay {
       height: 100%;
       width: 100%;
       position: fixed;
       left: 0;
       top: 0;
       //background-color: rgba(25,164,225, 0.8);
       //background-color:rgba(43, 200,237, 0.8);
       //background-color:rgba(34,188,231, 0.5);
       background-color:rgba(2,100,133,0.6);
       overflow-x: hidden;
   }
   video#bgvid {
     position:fixed;
     top:50%;
     left:50%;
     -ms-transform:translate(-50%, -50%);
     -moz-transform:translate(-50%, -50%);
     -webkit-transform:translate(-50%, -50%);
     transform: translate(-50%, -50%);
     background:url(images/background.jpg);
     background-size:cover;
     min-width:100%;
     min-height:100%;
     width:auto;
     height:auto;
     z-index:-100;
   }
   a:hover {
     text-decoration:none;
   }


   //
   // HOME
   //
   #home-container {
     text-transform:uppercase;
     text-align:center;
     position:absolute;
     top:50%;
     left:50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     width:95%;
     height:auto;
     padding:20px;
     border-radius: 5px;
     h1 {
       text-align:center;
       //width:20px;
       font-size:2.2em;
       font-weight:700;
       color:white;
       letter-spacing:2px;
     }
     p.info-text {
       font-size:1.6em;
       font-style:italic;
       font-weight:100;
       color:white;
       text-transform:none;
       margin-bottom:50px;
     }
   }

   .createButton {
   	  background-color:#f2724f;
   	  cursor:pointer;
   	  color:#ffffff;
   	  font-size:1.1em;
      font-weight:800;
      text-transform:uppercase;
      letter-spacing:1px;
      padding:15px 25px;
      text-decoration:none;
      border-radius:5px;
      border:0;
      width:100%;
      margin-bottom:10px;
      &:hover {
   	    background-color:#f58f63;
     }
   }

   .faqButton {
     padding:10px;
     text-decoration:none;
     p {
       color:white;
       border:2px solid white;
       padding:10px;
       border-radius:5px;
       font-weight:600;
       &:hover {
         -webkit-transition: background-color .5s ease;
         -moz-transition: background-color .5s ease;
         -o-transition: background-color .5s ease;
         -ms-transition: background-color .5s ease;
         transition: background-color .5s ease;
         border:2px solid rgba(255, 255, 255, 0.6);
         background-color:rgba(255, 255, 255, 0.6);
         color:rgba(2,100,133,0.6);;
       }
     }
   }


   //
   // FAQ
   //
   #faq-container {
     text-align:center;
     position:absolute;
     top:50%;
     left:50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     width:90%;
     height:auto;
     padding:20px;
     border-radius: 5px;
   }
   .faq-list {
     width:100%;
     height:auto;
     background-color:rgba(0,0,0,0.2);
     text-align:left;
     //padding:25px 50px;
     padding-left:10px;
     padding-right:10px;
     position:absolute;
     top:50%;
     left:50%;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     border-radius:5px;
     p {
       color:white;
       padding:0;
       margin:2px 0;
     }
     h2 {
       color:white;
     }
   }
   .homeButton {
     text-decoration:none;
     color:white;
     font-weight:600;
     text-align:center;
     display:block;
     margin-top:30px;
     &:hover {
       text-decoration:underline;
     }
   }

   input.ng-invalid.ng-touched {
     border:2px solid red;
   }
   input.ng-valid {
     border:2px solid #4fc1b0;
   }
   input[disabled="disabled"]{
     opacity:0.4;
     cursor:not-allowed;
   }

   //
   // LIVE
   //
   #live-container {
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%, -50%);
     overflow:hidden;
     margin:30px auto 50px;
     width:40%;
     height:auto;
     background-color:white;
     border-radius:5px;
     padding-bottom:60px;
     h3 {
       padding:20px;
       text-align:left;
       color:white;
       margin-top:0;
       font-size:1.2em;
       background-color:$darkblue;
     }
     .btn-add {
       background-color:$middlegreen;
       color:white;
       &:hover {
         background-color:$lightgreen;
       }
     }
     .live-addicon-image {
       display:block;
       margin:0 auto;
       padding:20px;
       width:30%;
       height:auto;
     }
   }
   .header {
     z-index: 100;
     position: relative;
   }

   .header .skew:before {
     border-radius:5px 5px 0 0;
     content: '';
     position: absolute;
     margin-top:-15px;
     top:0;
     left: 0;
     bottom: 0;
     overflow: hidden;
     width: 100%;
     height: 250px;
     background:$middlered;
     z-index: -1;
     -webkit-transform: skewY(-2deg);
     -moz-transform: skewY(-2deg);
     -ms-transform: skewY(-2deg);
     -o-transform: skewY(-2deg);
     transform: skewY(-2deg);
     -webkit-backface-visibility: hidden;
   }
   .header-inner {
     padding:30px 30px 100px 30px;
     .addicon-image {
       display:block;
       margin:0 auto;
       padding-top:25px;
       width:40%;
       height:auto;
     }
   }


   //
   // CREATE
   //
   #item-container {
     position:relative;
     margin:0 auto 30px;
     width:100%;
     height:auto;
     background-color:white;
     border-radius:5px 5px 5px 5px;
     padding-bottom:25px;
     h3 {
       font-size:1.2em;
       padding:20px;
       color:white;
       text-align:left;
       background-color:$darkblue;
       margin-top:0;
       border-radius:5px 5px 0 0;
     }
     .btn-add {
       background-color:#4fc1b0;
       color:white;
       &:hover {
         background-color:#63d1c4;
       }
     }
   }
   .shareButton {
       display:block;
       margin:30px auto 0px;
       text-align:center;
       width:78%;
     	background-color:#4fc1b0;
     	cursor:pointer;
     	color:#ffffff;
     	font-family:Arial;
     	font-size:14px;
     	padding:10px 35px;
     	text-decoration:none;
       overflow:hidden;
       position:static;
       border:0;
       border-radius:5px;
       text-transform:uppercase;
       &:hover {
     	  background-color:#63d1c4;
     }
   }
   #mainForm {
     text-align:center;
     .input-group {
       width:78%;
       margin:0 auto;
       padding-top:20px;
     }
   }
   ul {
     width:78%;
     margin:0 auto;
     padding:0;
     list-style-type:none;
   }
   li {
     color:#4d4d4d;
     padding:10px 0;
     border-bottom:1px solid #efefef;
     &:last-child {
       border-bottom:0px solid transparent;
       padding-bottom:10px;
     }
     &:hover {
       background-color: rgba(231, 230, 243, 0.2);
     }
   }
   ul li .edit {
       display: none;
   }
   ul li.editing .view {
       display: none;
   }
   ul li.editing .edit {
       margin-top:-6px;
       margin-bottom:-6px;
       margin-left:-65px;
       display:inline-block;
       width: 200px;
       padding: 5px 0 5px 10px;
       border-radius:5px;
       border:1px solid lightgrey;
   }
   input[type=checkbox]:checked + span {
     text-decoration: line-through;
     font-style:italic;
     color: $darkgreen;
     margin-left:10px;
   }
   input[type=checkbox]:checked + #live-items {
     color:$darkgreen;
   }
   .done-false {
     margin-left:10px;
   }
   #live-items {
     color:$darkred;
     font-size:1.2em;
   }
   #logo {
     display:block;
     margin:0 auto;
     text-align:center;
     padding:20px 0;
     width:50%;
     height:auto;
   }
   #toggleButton {
     float:right;
     display:none;
   }
   .item-list:hover #toggleButton {
     display:block;
     margin-top:-9px;
     padding:10px 15px;
     border:0;
     background-color:transparent;
   }
   .url-display-box {
     height:100%;
     width:100%;
     padding-bottom:100px;
     .url-display {
       padding:5px;
       height:80%;
       width:80%;
       margin:50px auto 0;
       display:block;
       text-align:center;
       border:2px solid $lightgreen;
       border-radius:5px;
     }
   }
   .ngdialog.ngdialog-theme-default {
     padding-top:0 !important;
   }



   //
   // FOOTER
   //
   footer {
     background-color:rgba(255,255,255, 0.2);
     //background-color:white;
     position:fixed;
     bottom:0;
     left:0;
     margin:100px auto 0;
     width:100%;
     height:40px;
     text-align:center;
     line-height:40px;
     color:white;
   }



   //
   // NAVBAR
   //
   nav{
     position:absolute;
     ul {
       position:fixed;
       top:0;
       width:100%;
       height:auto;
       list-style-type:none;
       margin:0;
       padding:0;
       overflow:hidden;
       //background-color:#464444;
       li {
         padding:20px 0;
         float:left;
         display:block;
         color:white;
         text-align:center;
         margin:0;
         &:hover {
           background-color:transparent;
         }
       }
     }
     li.right {
       float:right;
       display:none;
       //padding:20px 40px;
     }
     li.left {
       img {
         //padding-left:15px;
         width:55%;
         height:auto;
       }
     }
   }
   nav ul li {
     border-bottom:0px solid transparent;
   }
   .faqSmallButton {
     color:white;
     text-decoration:none;
     &:hover {
       text-decoration:underline;
     }
   }
 }

 /* Extra Small Devices, Phones */
 @media only screen and (min-width : 480px) {
   #live-container {
     width:100%;
     margin:300px auto 50px;
   }
   .createButton {
     width:100%;
     font-size:1em;
     padding:15px 25px;
   }
   #live-container .live-addicon-image {
     width:30%;
   }
   .header-inner {
     padding:30px;
   }
   #home-container {
     h1 {
       font-size:3em;
       text-align:center;
       width:100%;
     }
   }
   nav li.right {
     display:block;
     width:25%;
   }
   .faqSmallButton {
     display:none;
   }
   .faqButton p {
     width:80%;
     margin-right:30px;
   }
   nav li.left img {
     padding-left:10px;
     width:70%;
   }
 }

 /* Small Devices, Tablets */
 @media only screen and (min-width : 768px) {
   #live-container {
     width:50%;
     padding-bottom:0;
     //margin:-15px auto 50px;
     .live-addicon-image {
       margin:5px auto;
       width:40%;
       padding-top:80px;
     }
   }
   #home-container {
     h1 {
       font-size:3.4em;
     }
   }
   nav {
     li.left {
       //padding-left:25px;
       width:25%;
       height:auto;
       img {
         width:100px;
       }
     }
     li.right {
       width:35%;
     }
   }
  p.info-text {
    font-size:1.8em;
  }
  .faqButton p {
    width:70%;
    margin-right:45px;
  }
  .createButton {
    width:45%;
  }
  .faq-list {
    width:65%;
    padding:30px 30px 40px 30px;
  }
  .header-inner .addicon-image {
    padding-top:0;
    padding-bottom:50px;
    width:35%;
  }
  .ngdialog.ngdialog-theme-default {
    padding-top:160px !important;
  }
 }

 /* Medium Devices, Desktops */
 @media only screen and (min-width : 992px) {
   .live-addicon-image {
     width:30%;
   }
   .createButton {
     width:35%;
   }
   nav li.right {
     width:25%;
   }
   .faqButton p {
     width:70%;
   }

 }

 /* Large Devices, Wide Screens */
 @media only screen and (min-width : 1200px) {
   .createButton {
     width:35%;
     font-size:1.1em;
     padding:15px 50px;
   }
   #live-container {
     width:50%;
   }
 }
