<!-- Container for listed items -->
<div id="live-container"
     ng-controller="liveController">
  <header class="header" id="header">
   <div class="skew">
       <div class="header-inner">
           <img class="live-addicon-image" src="images/addicon_white.svg" />
       </div>
   </div>
 </header>

    <form id="mainForm" ng-submit="addPostButton()">
        <div class="input-group view">
            <input type="text"
                   class="form-control"
                   placeholder="Add something else?"
                   ng-keyup="addPost()"
                   ng-model="itemInput" />
                <span class="input-group-btn">
                    <button class="btn btn-add" type="submit">Add!</button>
                </span>
        </div>
    </form>
        <ul>
            <li ng-repeat="item in items" class="item-list fade">
                <label>
                  <input type="checkbox" ng-model="item.done" />
                    <span ng-model="item.done" class="done-{{item.done}}">{{item.name}}</span>
                    <button type="button" class="btn btn-default btn-sm destroy" id="toggleButton" ng-click="removeItem($index, item)">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm destroy" id="toggleButton" ng-click="editMode()">
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>
                  <input class="edit" type="text" ng-model="item.name" ng-keyup="editOnEnter(item)"/>
              </label>

            </li>
        </ul>
</div>
